<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!----======== CSS ======== -->
    <link rel="stylesheet" href="../static/styles/dashboard.css">

    <!----===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <title>ALX Kigali</title>
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/661d6fc91ec1082f04e2a155/1hrhfpb79';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    <!--End of Tawk.to Script-->
</head>

<body>
    <nav>
        <div class="logo-name">
            <div class="logo-image">
                <img src="../static/images/logo.png" alt="">
            </div>

            <span class="logo_name">Kigali Support</span>
        </div>

        <div class="menu-items">
            <ul class="nav-links">
                {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('main.dashboard') }}">
                        <i class="uil uil-estate"></i>
                        <span class="link-name">Dahsboard</span>
                    </a></li>
                <li><a href="{{ url_for('main.wifi') }}">
                        <i class="uil uil-wifi"></i>
                        <span class="link-name">WiFi Login</span>
                    </a></li>
                <li><a href="https://calendar.google.com/calendar/u/0?cid=a2lnYWxpaHViQHRoZXJvb20uY29t" class="text"
                        target="_blank">
                        <i class="uil">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 512 512">
                                <path fill="currentColor"
                                    d="M440 424V88h-88V13.005L88 58.522V424H16v32h86.9L352 490.358V120h56v336h88v-32Zm-120 29.642l-200-27.586V85.478L320 51Z" />
                                <path fill="currentColor" d="M256 232h32v64h-32z" />
                            </svg>
                        </i>
                        <span class="link-name">Room Booking</span>
                    </a></li>
                <li><a href="https://tech.alxafrica.com/report-offense" class="text" target="_blank">
                        <i class="uil">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
                                <path fill="currentColor"
                                    d="M15.73 3H8.27L3 8.27v7.46L8.27 21h7.46L21 15.73V8.27zM19 14.9L14.9 19H9.1L5 14.9V9.1L9.1 5h5.8L19 9.1z" />
                                <circle cx="12" cy="16" r="1" fill="currentColor" />
                                <path fill="currentColor" d="M11 7h2v7h-2z" />
                            </svg>
                        </i>
                        <span class="link-name">Report Offence</span>
                    </a></li>
                <li><a href="https://alxprograms.zendesk.com/hc/en-gb/requests/new" class="text" target="_blank">
                        <i class="uil">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 28 28">
                                <path fill="currentColor"
                                    d="m12.167 17.802l-.006-.014a8 8 0 0 1-.36-.094l-.009-.003A8 8 0 0 1 8.708 16a8 8 0 1 1 13.257-6.75c.039.413-.3.75-.715.75c-.414 0-.745-.337-.793-.749A6.5 6.5 0 1 0 11.496 16l.04.017q.3.123.616.217A2 2 0 0 1 16 17a2 2 0 0 1-3.833.802m-.986 1.272a9.5 9.5 0 0 1-4.53-3.054A3 3 0 0 0 4 19v.715C4 23.433 8.21 26 14 26s10-2.708 10-6.285V19a3 3 0 0 0-3-3h-3.645a3.5 3.5 0 0 1-6.174 3.074M19 10c0-1.512-.67-2.867-1.731-3.784a5 5 0 1 0-5.624 8.195A3.5 3.5 0 0 1 14 13.5a3.5 3.5 0 0 1 2.356.911A5 5 0 0 0 19 10" />
                            </svg>
                        </i>
                        <span class="link-name">Programm Support</span>
                    </a></li>
                <li><a href="https://www.tickettailor.com/events/alxkigali/1152714?" class="text" target="_blank">
                        <i class="uil uil-check"></i>
                        <span class="link-name">Attendence</span>
                    </a></li>
                <li><a href="{{ url_for('main.find_peer') }}">
                        <i class="uil uil-search"></i>
                        <span class="link-name">Find My Peer</span>
                    </a></li>
                {% endif %}
            </ul>

            <ul class="logout-mode">
                {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('auth.logout') }}">
                        <i class="uil uil-signout"></i>
                        <span class="link-name">Logout</span>
                    </a></li>
                {% endif %}
                <li class="mode">
                    <a href="#">
                        <i class="uil uil-moon"></i>
                        <span class="link-name">Dark Mode</span>
                    </a>

                    <div class="mode-toggle">
                        <span class="switch"></span>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <section class="dashboard">
        <div class="top">
            <i class="uil uil-bars sidebar-toggle"></i>
            <div style="display: flex; align-items: center; justify-content: space-between;">
                <h5 style="color: blue; padding-right: 5px;">{{ name }}</h6>
                <img src="../static/images/images.png" alt="">
            </div>
        </div>

        <div class="dash-content">
            {% block content %}
            {% endblock %}
        </div>
    </section>

    <script>
        const body = document.querySelector("body"),
            modeToggle = body.querySelector(".mode-toggle");
        sidebar = body.querySelector("nav");
        sidebarToggle = body.querySelector(".sidebar-toggle");

        let getMode = localStorage.getItem("mode");
        if (getMode && getMode === "dark") {
            body.classList.toggle("dark");
        }

        let getStatus = localStorage.getItem("status");
        if (getStatus && getStatus === "close") {
            sidebar.classList.toggle("close");
        }

        modeToggle.addEventListener("click", () => {
            body.classList.toggle("dark");
            if (body.classList.contains("dark")) {
                localStorage.setItem("mode", "dark");
            } else {
                localStorage.setItem("mode", "light");
            }
        });

        sidebarToggle.addEventListener("click", () => {
            sidebar.classList.toggle("close");
            if (sidebar.classList.contains("close")) {
                localStorage.setItem("status", "close");
            } else {
                localStorage.setItem("status", "open");
            }
        })
    </script>
</body>

</html>