<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap">
    <link rel="stylesheet" href="../static/styles/landing.css">
    <title>ALX Kigali</title>
</head>
<body>
    <header>
        <nav class="nav-bar">
            <ul>
                <li><a href="#footer">About us</a></li>
                <li><a href="#footer">Our services</a></li>
                <li><a href="#footer">Contact us</a></li>
            </ul>
        </nav>
        <section class="header-css">
            <div>
                <img src="../static/images/logo.png" alt="">
                <h1>Kigali Hub Support Website</h1>
                <p><h3>Seamless access to activities and information from ALX Kigali hub.</h3></p>
            </div>
            <div class="get-started">
                <a href="http://127.0.0.1:8000/login" class="button">Get Started</a>
            </div>
        </section>
    </header>
    <!--html for the cards-->
    <div class="card-list">
        <a href="#header" class="card-item">
            <img src="../static/images/attendance.jpg" alt="Card Image">
            <span class="editor">Attendance</span>
            <h3>Confirm your attendance easly.</h3>
            <div class="arrow">
                <i class="fas fa-arrow-right card-icon"></i>
            </div>
        </a>
        <a href="#header" class="card-item">
            <img src="../static/images/find peer.jpg" alt="Card Image">
            <span class="editor">Find my peer</span>
            <h3>Seamlessly find peers in your cohort for help.</h3>
            <div class="arrow">
                <i class="fas fa-arrow-right card-icon"></i>
            </div>
        </a>
        <a href="#header" class="card-item">
            <img src="../static/images/offense.jpg" alt="Card Image">
            <span class="editor">Report offence</span>
            <h3>Report any misconduct if any?</h3>
            <div class="arrow">
                <i class="fas fa-arrow-right card-icon"></i>
            </div>
        </a>
        <a href="#header" class="card-item">
            <img src="../static/images/Pr_support.jpg" alt="Card Image">
            <span class="editor">Program support</span>
            <h3>Receive support from our staff.</h3>
            <div class="arrow">
                <i class="fas fa-arrow-right card-icon"></i>
            </div>
        </a>
        <a href="#header" class="card-item">
            <img src="../static/images/room.jpg" alt="Card Image">
            <span class="editor">Meeting room booking</span>
            <h3>Book a room for meeting.</h3>
            <div class="arrow">
                <i class="fas fa-arrow-right card-icon"></i>
            </div>
        </a>
        <a href="#header" class="card-item">
            <img src="../static/images/wifi_login.jpg" alt="Card Image">
            <span class="editor">Wifi Login</span>
            <h3>Easly login to our wifi.</h3>
            <div class="arrow">
                <i class="fas fa-arrow-right card-icon"></i>
            </div>
        </a>
    </div>

    <!--this is for the meet the team-->
    
    <!--footer begins-->
    <footer>
        <div class="content">
          <div class="top">
            <div class="logo-details">
              <i class="fab fa-slack"></i>
              <span class="logo_name">Thanks for visiting us!</span>
            </div>
            <!-- <div class="media-icons">
              <a href="#"><i class="fab fa-facebook-f"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
              <a href="#"><i class="fab fa-linkedin-in"></i></a>
              <a href="#"><i class="fab fa-youtube"></i></a>
            </div> -->
          </div>
          <div class="link-boxes">
            <ul class="box">
              <li class="link_name">ALX Kigali Hub</li>
              <li><a href="#">Home</a></li>
              <li><a href="#">Contact us</a></li>
              <li><a href="#">About us</a></li>
              <li><a href="#">Get started</a></li>
            </ul>
            <ul class="box">
              <li class="link_name">Services</li>
              <li><a href="#">App design</a></li>
              <li><a href="#">Web design</a></li>
              <li><a href="#">Logo design</a></li>
              <li><a href="#">Banner design</a></li>
            </ul>
            <ul class="box">
              <li class="link_name">Account</li>
              <li><a href="#">Profile</a></li>
              <li><a href="#">My account</a></li>
              <li><a href="#">Prefrences</a></li>
              <li><a href="#">Purchase</a></li>
            </ul>
            <ul class="box">
              <li class="link_name">Courses</li>
              <li><a href="#">Ai Career essentials</a></li>
              <li><a href="#">Front-end Web development</a></li>
              <li><a href="#">Back-end Web development</a></li>
              <li><a href="#">Data Analytics</a></li>
              <li><a href="#">Data Science</a></li>
            </ul>
            <!-- <ul class="box input-box">
              <li class="link_name">Subscribe</li>
              <li><input type="text" placeholder="Enter your email"></li>
              <li><input type="button" value="Subscribe"></li>
            </ul> -->
          </div>
        </div>
        <div class="bottom-details">
          <div class="bottom_text">
            <span class="copyright_text">Copyright © 2021 <a href="#">ALX Kigali.</a>All rights reserved</span>
            <!-- <span class="policy_terms">
              <a href="#">Privacy policy</a>
              <a href="#">Terms & condition</a>
            </span> -->
          </div>
        </div>
      </footer>
</body>
<script></script>
</html>
